---
layout: list-page
id: meetups
title: Meet us
overline: Meetups
permalink: /meetups
---

{% for meetup in site.meetups %}
<article class="uk-article uk-padding-medium uk-margin-medium">
  <h3>
    <a class="uk-link-reset" href="{{ meetup.url | relative_url }}"
      >{{ meetup.title }}</a
    >
  </h3>

  <p class="uk-article-meta">
    <span uk-icon="calendar"></span>
    <span class="date">{{meetup.date | date: "%b %d, %Y "}} </span>
  </p>
  {% if meetup.excerpt %}
  <p>
    {{ meetup.excerpt | strip_html }}
  </p>
  {% endif %}
  <div>
    <a class="uk-button uk-button-text" href="{{ meetup.url | relative_url }}"
      >[Read more]</a
    >
  </div>
</article>
<hr />

{% endfor %}
