---
layout: home
title: Home
hero_headline: Hackergarden
hero_subline: "Straubing, BY"
hero_body: "Hackergarden combines tech 💻 with growing crops 🍅. It’s a place where we explore web and IoT technologies to support our cultivating process 🌱 in a sustainable way. In our 400 qm garden we want to preserve as many open-pollinated 🐝 organic vegetable varieties as possible by growing them regularly and share the seeds with others."
hero_link: "#projects"
---

<div id="projects" class="hackergarden__home uk-grid-match" uk-grid>

    {% if site.posts.size > 0 %} 
      {% assign posts = site.posts %}
      {% assign newest_post = site.posts.first %}
      <div class="uk-width-1-1">
        <div class="hackergarden__home__projects uk-card uk-card-default uk-card-large uk-card-body">
          <h4 class="hackergarden__card__overline">
            <a href="{{ "/projects" | relative_url }}">Projects</a>
          </h4>
   
         
            <h2 class="uk-card-title hackergarden__card__title">
              <a class="post-link" href="{{ newest_post.url | relative_url }}">
                {{ newest_post.title | escape }}
              </a>
            </h2>
            {% include reading-time.html text_to_count=newest_post.content %}
            {% if newest_post.excerpt %} 
              {{ newest_post.excerpt }} 
            {% endif %}
            <a class="hackergarden__button__container hackergarden__card__actions" href="{{ newest_post.url | relative_url }}">
              <button class="uk-button uk-button-default hackergarden__button">
                  More details
              </button>
             </a>
        </div>
      </div>
    {% endif %}
  
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-large uk-card-body">       
          <h4 class="hackergarden__card__overline">
            <a href="{{ "/code" | relative_url }}">Code</a>
          </h4>
          <h2 class="uk-card-title hackergarden__card__title">
            Resources to learn and code along with us
          </h2>
          <div class="uk-grid-match" uk-grid>
              <div class="uk-width-1-2@m">
                <h5 class="hackergarden__list__title">Frontend</h5>
                <ul class="uk-list">
                  {% for link in site.data.code.frontend limit:5 %} 
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="uk-width-1-2@m">
              <h5 class="hackergarden__list__title">JavaScript</h5>
                <ul class="uk-list">
                  {% for link in site.data.code.javascript.courses limit:5 %} 
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <a class="hackergarden__button__container hackergarden__card__actions" href="{{ "/code" | relative_url }}">
            <button class="uk-button uk-button-default hackergarden__button">
                Show more
            </button>
          </a>
        </div>
    </div>
  
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <h4 class="hackergarden__card__overline">
          <a href="{{ "/veggies" | relative_url }}">Veggies</a>
        </h4>
        <h2 class="uk-card-title hackergarden__card__title">
          Grow, multiply and share vegetable seeds 
        </h2>
        <div class="uk-width-1-1">
            <h5 class="hackergarden__list__title">Resources</h5>
            <ul class="uk-list">
              {% for link in site.data.veggies.seeds.resources limit:5 %} 
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <a class="hackergarden__button__container hackergarden__card__actions" href="{{ "/veggies" | relative_url }}">
          <button class="uk-button uk-button-default hackergarden__button">
              Show more
          </button>
         </a>
      </div>
    </div>
  </div>