.hackergarden__hero {
  &__container {
    height: 100%;
  }
  &__image {
    height: 100%;
    background: url("images/hero.jpg") no-repeat center center;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.1;
    }
  }
  &__content {
    height: 100%;
    @media screen and (max-width: $breakpoint-sm) {
      color: #fff;
      background: url("images/hero.jpg") no-repeat center center;
      background-size: cover;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.5;
        display: block;
      }
    }
  }
  &__content__inner {
    margin-top: 90px;
    padding: 1em;
    @media screen and (min-width: $breakpoint-sm) {
      max-width: 460px;
      padding: 2em;
    }
    @media screen and (min-width: $breakpoint-l) {
      margin-top: 12%;
    }
    @media screen and (min-width: $breakpoint-l) and (min-height: 1024px) {
      margin-top: 25%;
    }
    @media screen and (min-width: $breakpoint-xl) {
      margin-top: 25%;
    }
  }
  &__intro {
    margin: 2em auto;
    @media screen and (min-width: $breakpoint-sm) {
      margin: 4em auto;
    }
  }
}

.hero {
  &__headline {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 2em;
    color: white;
    @media screen and (min-width: 769px) {
      color: $global-text-color;
    }
    @media screen and (min-width: $breakpoint-m) {
      font-size: 3em;
    }
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 3.5em;
    }
  }
  &__subline {
    color: white;
    font-size: 1.1em;
    @media screen and (min-width: 769px) {
      color: $global-text-color;
    }
    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.5em;
    }
    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.8em;
    }
  }

  &__intro-text {
    font-weight: $font-weight-thin;
    letter-spacing: 0.04em;
  }
}

#scroll {
  position: absolute;
  bottom: 40px;
  @media screen and (min-width: $breakpoint-sm) {
    bottom: 220px;
  }
  @media screen and (min-width: $breakpoint-m) {
    bottom: 250px;
  }
}
