.hackergarden__section {
  margin: auto;
  @media screen and (min-width: $breakpoint-sm) {
    max-width: 80%;
  }
  @media screen and (max-width: $breakpoint-sm) {
    padding: 20px;
    margin-top: 20px;
  }
  &__card {
    &__hero-page {
      @media screen and (min-width: $breakpoint-sm) {
        margin-top: -150px;
      }
    }
    &__list-page {
      min-height: 500px;
      margin-top: 60px;
      @media screen and (min-width: $breakpoint-sm) {
        margin-top: 180px;
      }
    }
  }
}
