.hackergarden {
  &__story {
    width: 80%;
    margin: 80px auto;
    @media screen and (min-width: $breakpoint-m) {
      width: 100%;
    }
    &__text {
      margin-bottom: 20px;
      @media screen and (min-width: $breakpoint-m) {
        padding: 0 20px;
      }
    }
    &__main-img {
      overflow: hidden;
      img {
        height: 500px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    &__thumb-img {
      overflow: hidden;
      img {
        height: 220px;
        object-fit: cover;
        object-position: 50% 50%;
      }
      margin: 10px;
    }
  }
}
