.hackergarden {
  &__story {
    width: 80%;
    margin: 80px auto;
    @media screen and (min-width: $breakpoint-m) {
      width: 100%;
    }
    &__text {
      margin-bottom: 20px;
      @media screen and (min-width: $breakpoint-m) {
        padding: 0 20px;
      }
    }
    &__main-img {
      overflow: hidden;
      img {
        height: 300px;
        @media screen and (min-width: $breakpoint-s) {
          height: 400px;
        }
        @media screen and (min-width: $breakpoint-m) {
          height: 500px;
        }
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    &__thumb-img {
      overflow: hidden;
      width: 60%;
      margin: 10px 20%;
      @media screen and (min-width: $breakpoint-s) {
        width: 50%;
        margin: 10px 25%;
      }
      @media screen and (min-width: $breakpoint-sm) {
        margin: 20px;
        width: 25%;
      }
      img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        @media screen and (min-width: $breakpoint-m) {
          height: 250px;
        }
      }
    }
  }
}
