$global-font: "Overpass", Arial, Helvetica, sans-serif;
$global-text-color: #343434;
$global-highlight-color: #21eb00;

$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-thin: 200;

$breakpoint-small: 640px;
$breakpoint-medium: 768px;
