<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}
  <!-- UIkit CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit.min.css"
    integrity="sha384-DFrPHVr8Tmzex9n9MoFr0DmFeto38+SzBy4h7SSl2HO6M97wZxkhJyXo/tV/dQu4"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Overpass:200,400,800&display=swap"
  />
  {% feed_meta %}
</head>
