<div
  class="uk-grid-collapse uk-child-width-expand@s hackergarden__hero__container"
  uk-grid
>
  <div class="uk-width-1-2 uk-overflow-hidden uk-visible@m">
    <div class="hackergarden__hero__image"></div>
  </div>
  <div
    class="uk-width-1-1 uk-width-1-2@m hackergarden__hero__content uk-flex uk-flex-middle"
  >
    <div class="hackergarden__hero__content__inner uk-animation-fade">
      <h1 class="hero__headline">Hackergarden</h1>
      <h2 class="hero__subline">Straubing, BY</h2>
      <p class="hackergarden__hero__intro hero__intro-text">
        Hackergarden combines tech 💻 with growing crops 🍅. It’s a place where
        we explore web and IoT technologies to support our cultivating process
        🌱 in a sustainable way. In our 400 qm garden we want to preserve as
        many open-pollinated 🐝 organic vegetable varieties as possible by
        growing them regularly and share the seeds with others.
      </p>
      <button class="uk-button uk-button-default hackergarden__button">
        Explore
      </button>
    </div>
  </div>
</div>
