{% if include.hero_headline %} {% assign hero_headline = include.hero_headline
%} {% endif %} {% if include.hero_subline %} {% assign hero_subline =
include.hero_subline %} {% endif %} {% if include.hero_body %} {% assign
hero_body = include.hero_body %} {% endif %} {% if include.hero_link %} {%
assign hero_link = include.hero_link %} {% endif %} {% if
include.hero_button_label %} {% assign hero_button_label =
include.hero_button_label %} {% else %} {% assign hero_button_label = "Explore"
%} {% endif %}

<div class="uk-grid-collapse hackergarden__hero__container" uk-grid>
  <div class="uk-width-1-2 uk-overflow-hidden uk-visible@m">
    <div class="hackergarden__hero__image"></div>
  </div>
  <div
    class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-center hackergarden__hero__content"
  >
    <div class="hackergarden__hero__content__inner uk-animation-fade">
      {% if hero_headline %}
      <h1 class="hero__headline">{{hero_headline}}</h1>
      {% endif %} {% if hero_subline %}
      <h2 class="hero__subline">{{hero_subline}}</h2>
      {% endif %} {% if hero_body %}
      <p class="hackergarden__hero__intro hero__intro-text">
        {{hero_body}}
      </p>
      {% endif %}
      <a href="#scroll" uk-scroll>
        <button
          class="uk-button uk-button-default hackergarden__button uk-margin-large-bottom"
        >
          {{hero_button_label}}
        </button>
      </a>
    </div>
  </div>
</div>
<div id="scroll"></div>
