
    <div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-animation-fade; top: 250">
  
        <nav class="uk-navbar-container">
      
            <div class="uk-container uk-container-expand">
           
                <div uk-navbar>

                    <div class="uk-navbar-left">
                        <a href="{{"/" | relative_url}}" class="uk-navbar-item">
                            <svg class="hackergarden__logo contrast-color" width="60px" height="60px" viewBox="0 0 36 66" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke="#000" stroke-width="2" d="M17 35.5H35M23 41.5H33M21 47.5H30M16 17.5L10 5L15 8L18 2L21 8L26 5L20 17.5M1 33.8C0.999999 24.5216 8.61116 17 18 17C27.3888 17 35 24.5216 35 33.8C35 43.0784 18 65 18 65C18 65 1 43.0784 1 33.8Z"/>
                            </svg>
                            <span rel="author" class="uk-navbar-item uk-logo hackergarden__brand contrast-color">{{ site.title | escape }}</span>
                        </a>
                    </div>
                  

                    <!-- Navigation Tablet / Desktop -->
                    <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav uk-nav">
                      {% for link in site.data.navigation.main %} 
                          {% assign url = link.url | relative_url %} 
                          <li class="{% if page.url == link.url %}uk-active{% endif %}">
                            <a href="{{ url }}">{{ link.name }}</a>
                          </li>
                      {% endfor %}
                    </div>

                    <!-- Navigation Mobile -->
                    <div class="uk-navbar-right uk-hidden@m">
                        <a href="#offcanvas-slide" class="uk-button hackergarden__menu__button contrast-color" uk-icon="icon: menu" uk-toggle></a>

                        <div id="offcanvas-slide" uk-offcanvas="overlay: true; flip: true">
                            <div class="uk-offcanvas-bar">
                            <button class="uk-offcanvas-close" type="button" uk-close></button>

                            <ul class="uk-nav uk-nav-default">
                                <li class="{% if page.url == link.url %}uk-active{% endif %}">
                                    <a href="{{ "/" | relative_url }}">Home</a>
                                    </li>
                                {% for link in site.data.navigation.main %} 
                                {% assign url = link.url | relative_url %} 
                                <li class="{% if page.url == link.url %}uk-active{% endif %}">
                                <a href="{{ url }}">{{ link.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>

                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </nav>
    </div>