/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// MSIE: Required for IEMobile.
@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
  -ms-overflow-style: scrollbar;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
