.hackergarden__button,
.hackergarden__button:active,
.hackergarden__button:focus {
  background-color: white;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  height: 42px;
  min-width: 180px;
  position: relative;
  border: none;
  &:before {
    content: "";
    position: absolute;
    z-index: -1 !important;
    height: 30px;
    width: 180px;
    bottom: -15px;
    right: -15px;
    border-radius: 0 0 25px 0;
    background-color: $button-highlight-color-secondary;
    transform-origin: -30px 100%;
    transition: all 0.3s;
    @media screen and (min-width: $breakpoint-sm) {
      background-color: $button-highlight-color-primary;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 25px;
    bottom: 18px;
    right: 18px;
    z-index: 2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    opacity: 0;
    display: none;
  }
  &:hover {
    border: none;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    &:before {
      bottom: 18px;
      right: 18px;
      height: 0px;
      width: 0px;
      z-index: -1;
    }
    &:after {
      background-color: $button-highlight-color-secondary;
      opacity: 1;
      display: block;
      animation: secondary-pulse 2s infinite;
      @media screen and (min-width: $breakpoint-sm) {
        animation: primary-pulse 2s infinite;
        background-color: $button-highlight-color-primary;
      }
    }
  }
}

@mixin pulse-animation($color, $name) {
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }

    70% {
      box-shadow: 0 0 0 10px rgba($color, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}

@include pulse-animation($button-highlight-color-primary, primary-pulse);
@include pulse-animation($button-highlight-color-secondary, secondary-pulse);
