.hackergarden__header {
  &__container {
    height: 100%;
  }
  &__image {
    height: 100%;
    transform: translate3d(0, 0, 0) scale(1.25);
    background: url("images/hero.jpg") no-repeat center center;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.3;
    }
  }
  &__content {
    max-width: 460px;
    margin: auto;
  }

  &__intro {
    margin: 4em auto;
  }
}
.loaded .hackergarden__header__image {
  transform: scale(1);
  transition: 20s transform;
}

.hackergarden {
  &__headline {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 3.5em;
  }
}
.hackergarden__logo {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 2000;
  path {
    stroke: $global-text-color;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    animation: dash 2s linear forwards;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
