.uk-navbar-container {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 80px;
  width: 100%;
  z-index: 1000;
}

.uk-navbar {
  justify-content: flex-end;
}

.uk-navbar-nav {
  li > a {
    text-transform: none;
    color: $global-text-color;
    font-family: $global-font;
  }
}

.uk-navbar-sticky {
  .uk-navbar {
    justify-content: flex-end;
  }
  .uk-navbar-nav {
    li > a {
      color: $global-text-color;
      font-family: $global-font;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
.uk-navbar-nav > li.uk-active > a {
  color: $global-highlight-color;
}

.uk-offcanvas-bar {
  padding: 30px;
  .uk-offcanvas-close {
    padding: 12px;
  }
}

.hackergarden {
  &__logo {
    height: 60px;
    width: 60px;
    path {
      stroke: white;
      stroke-dasharray: 126;
      stroke-dashoffset: 126;
      animation: dash 2s linear forwards;
      @media screen and (min-width: $breakpoint-sm) {
        stroke: $global-text-color;
      }
    }
    .uk-navbar-sticky & {
      path {
        stroke: $global-text-color;
      }
    }
  }
  &__brand {
    color: white;
    .uk-navbar-sticky & {
      color: $global-text-color;
    }
    @media screen and (min-width: $breakpoint-sm) {
      color: $global-text-color;
    }
  }
  &__menu__button {
    fill: white;
    .uk-navbar-sticky & {
      fill: $global-text-color;
    }
    @media screen and (min-width: $breakpoint-sm) {
      fill: $global-text-color;
    }
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
