.uk-navbar-container {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 80px;
  width: 100%;
  z-index: 1000;
}

.uk-navbar {
  justify-content: flex-end;
}

.uk-navbar-nav {
  li > a {
    text-transform: none;

    color: $global-text-color;
    font-family: $global-font;
  }
}

.uk-navbar-sticky {
  .uk-navbar {
    justify-content: flex-end;
  }
  .uk-navbar-nav {
    li > a {
      color: $global-text-color;
      font-family: $global-font;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
.uk-navbar-nav > li.uk-active > a {
  color: $global-highlight-color;
}

.hackergarden__logo {
  height: 65px;
  width: 65px;

  path {
    stroke: $global-text-color;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    animation: dash 2s linear forwards;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.uk-logo {
  color: $global-text-color;
}
