.uk-navbar-container {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 80px;
  width: 100%;
}

.uk-navbar {
  justify-content: flex-end;
}

.uk-navbar-nav {
  li > a {
    text-transform: none;

    color: $global-text-color;
    font-family: $global-font;
  }
}

.uk-navbar-sticky {
  .uk-navbar {
    justify-content: flex-end;
  }
  .uk-navbar-nav {
    li > a {
      color: $global-text-color;
      font-family: $global-font;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
.uk-navbar-nav > li.uk-active > a {
  color: $global-highlight-color;
}
