---
layout: list-page
---

{% assign filtered_posts = site.posts | where: 'author', page.short_name %}

  <h4>{{ page.position }}</h4>

  {{ content }} 

  <div class="uk-margin-medium">
    {% if filtered_posts.size > 0 %}
    <h5 class="hackergarden__list__title ">{{page.short_name}} contributed to following projects:</h5>
    <ul class="uk-list">
      {% for post in filtered_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="hackergarden__pagination">
    <hr class="hackergarden__pagination__divider">
    <ul class="uk-pagination" uk-margin>
      <li>
        <a href="{{"/about" | relative_url}}"><span class="uk-margin-small-right"  uk-pagination-previous></span>Back</a>
      </li>
    </ul>
  </div>