---
layout: default
---

{% include hero.html %} 
{{ content }} 
{% if site.posts.size > 0 %} 
{% assign newest_post = site.posts.first %}
    <section class="projects">
      <h2>Projects</h2>
      <div>
       
        <h3>
          <a class="post-link" href="{{ newest_post.url | relative_url }}">
            {{ newest_post.title | escape }}
          </a>
        </h3>
        {% if newest_post.excerpt %} {{ newest_post.excerpt }} {% endif %}
      </div>
      <div>
        <a href="{{ "/projects" | relative_url }}"
        >All projects</a>
      </div>
    </section>
{% endif %}

