---
layout: default
---

{% include hero.html %} {{ content }}

<div class="latest-posts">
  {% if site.posts.size > 0 %}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  <ul>
    {% for post in site.posts %}
    <li>
      <span>{{ page.date | date: "%B %-d, %Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {% if site.show_excerpts %} {{ post.excerpt }} {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% endif %}
</div>
