---
layout: list-page
---

<article class="hackergarden__meetup uk-margin-medium">
  <header>
    <p>
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} {{ page.date | date: date_format }}
      </time>
      {% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          {{ page.author }}
        </span>
      </span>
      {% endif %}
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

<div class="hackergarden__pagination">
  <hr class="hackergarden__pagination__divider">
  <ul class="uk-pagination" uk-margin>
    <li>
      <a href="{{"/meetups" | relative_url}}"><span class="uk-margin-small-right"  uk-pagination-previous></span>Back</a>
    </li>
  </ul>
</div>