a,
li,
h1,
h2,
h3,
h4,
h5 {
  font-family: $global-font;
  font-weight: $font-weight-regular;
  color: $global-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
