$global-font: "Overpass", Arial, Helvetica, sans-serif;
$global-text-color: #343434;
$global-color-primary: #06d6a0;
$global-color-secondary: #ffd166;
$global-color-highlight: #ef476f;

$global-dark-color: #343434;

$global-background-color: #f8f8f8;
$global-background-color-dark: #26547c;

$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-thin: 200;

$breakpoint-s: 640px;
$breakpoint-sm: 768px;
$breakpoint-m: 960px;

$button-highlight-color-primary: #343434;
$button-highlight-color-secondary: #06d6a0;
