$global-font: "Overpass", Arial, Helvetica, sans-serif;
$global-text-color: #343434;
$global-color-primary: #8cce00;
$global-color-secondary: #ffd166;
$global-color-highlight: #ef476f;

$global-dark-color: #343434;

$global-background-color: #f8f8f8;

$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-thin: 200;

$breakpoint-s: 640px;
$breakpoint-sm: 768px;
$breakpoint-m: 960px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1920px;

$button-highlight-color-primary: #343434;
$button-highlight-color-secondary: #8cce00;
